.material-icons{
font-size: 1.8rem !important;
}
.MuiIconButton-root{
    padding: 0 !important;
}

.MuiTooltip-tooltip {
    font-size: 1.3rem !important;
}
.MuiTypography-caption{
    font-size: 1rem !important;
}

.MuiTypography-h6{
    font-size: 1.5rem !important;
    font-family: 'Lato',sans-serif !important;
    font-weight: 600 !important;
    letter-spacing: 1px !important;
    color: #fff !important;
    background: #00acc1;
    padding: 2px 12px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
} 
.MuiMenu-list{
    color: #fff;
    border: 1px solid #333333;
    background: #242c42;
}
.MuiToolbar-gutters{
    padding: 5px 0 !important;
}

.MuiTablePagination-select{
    color:#fff !important;
}
.MuiInputBase-input{
    font-size: 1.4rem !important;
}
.MuiPaper-root{
    background-color: #fff0 !important;
}
.MuiTableCell-root{
    border-bottom: 1px solid rgba(0, 172, 193, 0.19) !important;
    font-family: 'Lato',sans-serif !important;
}
.Component-paginationToolbar-2{
    background: #242c42;
}
.MTableToolbar-root-32{
    min-height: 36px !important;
}
.MuiToolbar-regular{
    min-height: 33px !important;
}
.MuiInput-underline:before{
    border-bottom: 1px solid rgba(251, 249, 249, 0.42) !important;
}


.MuiInputBase-root{
    background: #060606ad;
    border-radius: 5px;
}
.MuiTypography-caption{
    margin: 0 10px !important;
    color: #fff;
}
.MuiIconButton-root{
    color: #fff !important;
    border: 1px solid #fff;
}
.MuiTableCell-body {
    color: #e0e9ea !important;
    font-size: 1.2rem !important;
}
.MTableToolbar-searchField-37 {
    padding: 0 15px !important;
}
.MuiTablePagination-toolbar{
    min-height: 30px !important;
}
.MuiMenuItem-root{
    border: 1px solid #9e9e9e6b;
}
.MuiTable-root{
    background-color: #20252f;
    border-radius: 10px;
}
.MuiTableCell-head{
border-radius: 10px;
}
.MuiTableRow-root{
    background: #242c42;
}
.MuiIcon-root{
    color: #00c566;
}
.MuiTableSortLabel-root:hover {
    color: rgba(251, 251, 251, 0.79) !important;
}