.sidenav---sidenav---_2tBP{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.82)), url(/images/sidebar-2.d30c9e30.jpg);
    background-size: cover;
    background-position: center center;
}

//Nav Icon
.sidenav---navicon---3gCRo{
    svg{
        color:#cccccc !important;
    }
}

.sidenav---sidenav-nav---3tvij{
  //  padding: 5px 5px;
}

.sidenav---navicon---3gCRo{
  //  width: 55px !important;
    margin-right: 0 !important;

}
.sidenav---collapsed---LQDEv {
    button{
        width: 100% !important;
    }
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T{
    background: none !important;
}
.sidenav---highlighted---oUx9u{
    background-color: #00acc1;
   
    margin-bottom: 5px;
    
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f{
    color: #eee !important;
}

.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T{
    color: #eee;
    line-height: 30px;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL .sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T{
    color: #00acc1 !important;
}

.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y > .sidenav---navitem---9uL5T{
    color: #00acc1 !important; 
}
.sidenav---sidenav-subnav---1EN61{
    background: #202426cf !important;
    border: 1px #00BCD4 solid !important;
}

.sidenav---navicon---3gCRo{
    img{
        width:26px;
    }
}
.logOut{
    color:#b41010 !important
}

.sidenav---sidenav---_2tBP{
    border-right: 1px solid #626263;
}
.sidenav---collapsed---LQDEv button{
    border-bottom: 1px solid #626263; 
}
.sidenav---sidenav-subnav---1EN61 > .sidenav---sidenav-subnavitem---1cD47 > .sidenav---navitem---9uL5T{
    color:#fff !important;
}
.sidenav---sidenav---_2tBP.sidenav---collapsed---LQDEv .sidenav---sidenav-nav---3tvij .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---sidenav-subnav---1EN61{
    color:#fff;
}
.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02{
    background-color: #FFC107;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL{
    overflow-y: auto;

}

