//container
.widget_container{
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 $m-size;
   // text-align: center;
}

//widget
.widget {
    background: #08070796;
    margin-bottom: $xl-size;
   // margin-top: $xl-size;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.widget__message {
 color: $off-white;
 margin: 0;
 text-align: center;
 padding: 0.5rem 10rem 2.8rem 10rem;
}
.RSPBprogressBar{
  height: 0.2rem;
}
.RSPBprogression{
  background: linear-gradient(to right, #00d02d, #015d3b) !important;
}

//widget Header
.widget-header {
    background: #3c425194;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
    border: none;
    border-top: 01rem solid #693cad;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.widget-header__title {
    margin: 0 auto;
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #fff;
}
.widget-button{
    margin: 0px 2.3rem;
    button{
      width: 93%;
      margin: 3rem 1.4rem;
      border-radius: 0.5rem;
      padding: 1.2rem 0;
      border: none;
      border-bottom: 0.3rem solid #693cad;
      background: #8357c5;
      color: #fff;
    
    }
    .button__link{
        text-align: left;
    }
}

