@import './base/settings';
@import './base/base';
@import './components/add-option';
@import './components/button';
@import './components/header';
@import './components/signin-otp-controls';
@import './components/widget';
@import './components/welcomePage';
@import './components/backBoxAnimation';

@font-face {
    font-family: 'Lato';
    font-style: sans-serif;
    font-weight: 400;
    src:url('/fonts/Lato-Regular.ttf') format('truetype');
        
 }

 .Toastify__toast--success{
    background: #2ecc71 !important;
    border-radius: 5px !important;
    color: #000;
    font-size: 14px;
    box-shadow: 0 0 15px 1px black !important;
 }
 .toaster_title{
  font-weight: 600;
 }
 .toastOnfail{
    background: #e74c3c !important;
    border-radius: 5px !important;
    color: #000;
    font-size: 14px;
    box-shadow: 0 0 15px 1px black !important;
 }