$green: #7ac142;
$white: #fff;
// Misc
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

html{
    font-size: 62.5%; //making 1rem to 10px
}
body {
    //background: $dark-blue;
    background: url(/images/bg-pattern.png), linear-gradient(to left,#7b4397,#dc2430);
    font-family: 'Lato',sans-serif;
    font-size: $m-size; //16px
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 0; 
}
 button {
     cursor: pointer;
 }

 button:disabled {
     cursor: default;
 }

 .is-active {
  font-weight: bold;
 }
 button, input, optgroup, select, textarea 
 {
    font-family: 'Lato',sans-serif;
}
button:disabled,
button[disabled]{
    border: 1px solid #999999 !important;
    background-color: #252121bf !important;
    color: #f3e7e7 !important;
}
.loaderAdj{
    display: inline-block;
    
    
}
.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
            animation: icon-spin 2s infinite linear;
  }
  
  @-webkit-keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  
  @keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  .shown{
    display: inline-block;
    svg{
      margin-right: 0.5rem;
      color: #0ac37f;
      font-weight: 700;
      margin-top: -0.3rem;
  }
  }
  .hidden{
    display: none;
  }
  .component_wrapper {
    position: relative; 
    height: calc(100vh);
    background: linear-gradient(0deg, #d2d2d2, rgba(255, 255, 255, 0.18)), url(/images/background_withDot.png);
    background-repeat: repeat;
  } 
  .line_color{
    background: #bfbbbb;
  }
  .seperator {
    clear: both;
    position: relative;
    margin: .8rem 0;
    background-color: #c1c1c1;
    height: 1px;
  }
  .ezeJXt {
    // position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 65px;
    // overflow: hidden;
    -webkit-transition: all .15s;
    transition: all .15s;
   // padding: 0 20px;
    background: inherit;
    -webkit-transition: background-color .35s cubic-bezier(.4,0,.2,1);
    transition: background-color .35s cubic-bezier(.4,0,.2,1);
}  
.grlmfw {
  float: left;
  width: 100%;
  padding: 10px 20px;
  background-color: #0000003b;
  font-size: 0.8em;
  color: #fff;
  border-bottom: 1px solid #c1c1c182;
}
.bDttAO {
  display: block;
  white-space: nowrap;
  color: #fff;
}
.dgwEff {
  font-size: 1.5em;
  line-height: 2rem;
  padding: 1rem 0;
  color: #fff;
  background: #00000085;
  border-bottom: 1px solid #c1c1c182;
}
.fkaFXp {
  font-size: 1em;
  line-height: 20px;
  padding-bottom: 4px;
}

  .checkmark {
    height: 1.8rem;
    border-radius: 50%;
    display: inline-block;
    stroke-width: 2;
    stroke: $white;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px $green;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: $green;
    fill: none;
    animation: stroke .6s $curve forwards;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke .3s $curve .8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px $green;
    }
  }
  .logo_inside_nav{
    width: 180px;
  }
  .logo {
    position: absolute;
    max-height: 65%;
    display: inline;
    left: 2.6rem;
    top: 1.3rem;
}

.wrapper_route{
  margin-left:65px;
}

    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }



  